footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  background-color: white;
}
/* footer-block */
.footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-icons {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
}
.footer-icons__img {
  width: 30px;
}

.footer-icons span {
  transform: scale(0.8);
  font-weight: bold;
  padding-bottom: 10px;
}

@keyframes icons-du-du {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons:hover .footer-icons__img {
  animation: 1.5s icons-du-du;
}
